* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: bisque;
}

div {
  width: 60%;
  margin: 20rem auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#result {
  display: none;
}

p {
  line-height: 1.7;
  font-size: 1.1rem;
}

button {
  border: none;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 180px;
  padding: 1rem 1.2rem;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  background-color: aquamarine;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
